<h1>{{title.0.church}} ({{title.0.e_dist}})</h1>


<h3>Details:</h3>
    <span><strong>ID:</strong></span> <span>{{title.0.id}}</span><br/>
    <span><strong>Church:</strong></span> <span>{{title.0.church}}</span><br/>
    <span><strong>Address:</strong></span> <span>{{title.0.google_address}}</span><br/>
    <span><strong>Phone:</strong></span> <span>{{title.0.phone}}</span><br/>
    <span><strong>Latitude:</strong></span> <span>{{title.0.lat}}</span><br/>
    <span><strong>Longitude:</strong></span> <span>{{title.0.lng}}</span><br/>
