<h1>{{title.TitleName}} ({{title.ReleaseYear}})</h1>


<h3>Details:</h3>
    <span><strong>ID:</strong></span> <span>{{title._id}}</span><br/>
    <span><strong>Title Name:</strong></span> <span>{{title.TitleName}}</span><br/>
    <span><strong>Title Type:</strong></span> <span>{{title.TitleType}}</span><br/>
    <span><strong>Title Id:</strong></span> <span>{{title.TitleId}}</span><br/>
    <span><strong>Release Year:</strong></span> <span>{{title.ReleaseYear}}</span><br/>
    <span><strong>Title Type Code:</strong></span> <span>{{title.TitleTypeCode}}</span><br/>
    <span><strong>Performance Code:</strong></span> <span>{{title.PerformanceMode}}</span><br/>
    <span><strong>Animation Mode:</strong></span> <span>{{title.AnimationMode}}</span><br/>
    <span><strong>ProcessedDatetimeUTC:</strong></span> <span>{{title.ProcessedDatetimeUTC}}</span><br/>
    <span><strong>Genres:</strong></span> <span>{{title.Genres}}</span><br/>
    <span><strong>OtherNames:</strong></span> <span>{{title.OtherNames}}</span><br/>
    <span><strong>StoryLines:</strong></span> <span>{{title.Storylines}}</span><br/>
    <!--<span><strong>Title:</strong></span> <span>{{title.Participants}}</span><br/>-->
    <span><strong>Awards:</strong></span> <span>{{title.Awards}}</span><br/>
