<!DOCTYPE html>
<html lang="en" ng-app="DevCh">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Turner Develop Challenge </title>
    <link rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/style.css" />
</head>
<body ng-controller="devchallenge">
    <nav class="navbar-default navbar">
        <form class="navbar-form">
            <input type="text" class="form-control" ng-model="searchText" class="search-query" placeholder="Search Churches"/> {{filtered.length}} churches found. <span class="brand"><a href="/">Film Title App | Turner Developer Challange</a></span>
        </form>
    </nav>
    <section class="list">
        <div id="stage2" class="">
            <div ng-repeat="i in filtered = (titles | filter:searchFilter | orderBy:'church')" class="record" ng-click="deets('#/Church/'+i.id, i.id)">
               <div class="left">
                  <h3>{{i.church}}</h3>
                  <div class="address">{{i.google_address}}</div>
                  <div class="phone">{{i.phone}}</div>
                  <div class="latlng">{{i.lat}}<br/>{{i.lng}}</div>
               </div>
               <div class="right"><img src="images/church.jpeg" atl="{{i.church}}"/></div>
            </div>
<!--
            <ul>
                <a ng-repeat="i in titles | filter:searchFilter | orderBy:'church'" href="#/Church/{{i.id}}"><li>{{ i.church }}</li></a>
            </ul>
    -->
        </div>
    </section>
    <div id="detail" ng-view></div>
    <script src="http://ajax.cdnjs.com/ajax/libs/underscore.js/1.1.6/underscore-min.js"></script>
    <script src="libs/jquery/jquery.min.js"></script>
    <script src="libs/angular/angular.min.js"></script>
    <script src="libs/angular-resource/angular-resource.min.js"></script>
    <script src="libs/angular-route/angular-route.min.js"></script>
    <script src="libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>
    <script src="js/main.js"></script>
</body>
</html>

<!--

 TODOS:
   set up grunt configuration
   set up SASS configuration
   refactor angular controllers
   set up factory for db REST call

-->