#stage, #stage2{
    float:left;
    width:600px;
    height:600px;
    font-weight:200;
    margin:0 0 0 0;
    overflow:scroll;
}

.list {
    border-right:1px solid #eee;
    float:left;
    height:100%;
}

#stage ul {
    text-indent: 0;
}

#stage ul li {
    list-style: none;
    margin: 0 0 2px 0;
    padding:3px;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
}

#stage ul li:hover {
    background-color: #eee;
}

#stage a {
    color:black;
}

#stage a:hover {
    text-decoration:none;
}

span:first-child {
    width:120px;
}

input[type='text'] {
    width:250px;
}

#detail {
    padding:15px;
    border-left:1px solid #eee;
    float:left;
    width:800px;
    padding:10px
    font-weight:200;
    color:black
}

.navbar {
    margin-bottom: 0;
}

.brand {
    float:right;
    font-weight:600;
}
 .record {
     float:left;
     width:550px;
     margin:10px 20px 20px 25px;
     clear:both;
     -webkit-box-shadow: 0 1px 1px 0 #aaaaaa;
     -khtml-box-shadow: 0 1px 1px 0 #aaaaaa;
     -moz-box-shadow: 0 1px 1px 0 #aaaaaa;
     -ms-box-shadow: 0 1px 1px 0 #aaaaaa;
     -o-box-shadow: 0 1px 1px 0 #aaaaaa;
     box-shadow: 0 1px 1px 0 #aaaaaa;
     padding: 7px;

 }

.left {
    float:left;
    width:300px;
}
.right {
    float:right;
}
.right img {
    -webkit-box-shadow: 0 1px 1px 0 #aaaaaa;
    -khtml-box-shadow: 0 1px 1px 0 #aaaaaa;
    -moz-box-shadow: 0 1px 1px 0 #aaaaaa;
    -ms-box-shadow: 0 1px 1px 0 #aaaaaa;
    -o-box-shadow: 0 1px 1px 0 #aaaaaa;
    box-shadow: 0 1px 1px 0 #aaaaaa;
    width: 205px;
    padding: 7px;
    margin: 0 0 10px 0; }

h3 {
    border-bottom: 1px solid #ddd;
}